[submodule "subdomains/helix-pipeline"]
	path = subdomains/helix-pipeline
	url = https://github.com/adobe/helix-pipeline
[submodule "subdomains/helix-cli"]
	path = subdomains/helix-cli
	url = https://github.com/adobe/helix-cli
