version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8-stretch
    steps:
        - checkout

        # Download and cache dependencies
        - restore_cache:
            keys:
            - v1-dependencies-{{ checksum "package.json" }}

        - run:
            name: Installing Dependencies
            command: npm install

        - run:
            name: Installing Helix CLI
            command: npm install @adobe/helix-cli --save=false

        - save_cache:
            paths:
                - node_modules
            key: v1-dependencies-{{ checksum "package.json" }}

        # run tests!
        - run: mkdir junit
        - run:
            name: prepare test git user
            command: git config --global user.email "you@example.com" && git config --global user.name "CircleCi Build"
        - run:
            name: Running Tests
            command: npx mocha  --exit --reporter mocha-junit-reporter test/**/*
            environment:
                MOCHA_FILE: junit/test-results.xml
            when: always    

        - store_test_results:
            path: junit

        - store_artifacts:
            path: junit

        # - run:
        #    name: Building Templates
        #    command: npx hlx build

        # - run: git status

        # - run:
        #    name: Deploying to Adobe I/O Runtime
        #    command: npx hlx deploy --no-auto

        # - run:
        #    name: Activate CDN
        #    command: npx hlx publish

        # - run:
        #    name: Test Performance
        #    command: npx hlx perf
